.sign-details {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
}

.sign-styling {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  margin-top: -100px;
  margin-right: 10px;
  margin-left: 10px;
}

.current-sign {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  background-color: #b8757f;
  color: white;
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.horoscope-styling {
  padding: 20px;
}

.description {
  font-size: 20px;
  width: 600px;
  margin-right: 20px;
}

.day-button-styling {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.day-button {
  background-color: #b8757f;
  border-color: #b8757f;
  border: none;
  color: white;
  width: 220px;
  margin: 4px;
}

@media only screen and (max-width: 950px) {
  .current_date {
    font-size: 12px;
  }

  .horoscope-styling {
    height: 400px;
    width: 300px;
  }

  .description {
    font-size: 12px;
    width: 200px;
    margin-right: 20px;
  }

  .compatibility {
    font-size: 12px;
  }

  .mood {
    font-size: 12px;
  }

  .color {
    font-size: 12px;
  }

  .lucky_number {
    font-size: 12px;
  }

  .lucky_time {
    font-size: 12px;
  }
}
