.error-message-container {
  text-align: center;
  margin-top: -200px;
  text-decoration: none;
}

.error-message {
  font-size: 32px;
  color: #cba5b3;
  position: relative;
  z-index: 1;
}
.error-message-link {
  font-size: 24px;
  color: #cba5b3;
  margin-top: 20px;
}
