.Header {
  /* background-image: url('sky.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
  color: #9c82cd;
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  font-size: 60px;
  color: #9c82cd;
  padding: 30px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}

.home-button {
  text-decoration: none;
  color: #9c82cd;
  padding: 60px;
}
.home-button:hover {
  color: #af8ad2;
}

#dropdown-basic-button {
  color: #9c82cd;
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
}
#dropdown-basic-button:hover {
  color: #af8ad2;
}
#dropdown-basic-button:active {
  border-color: transparent;
}
