.Header {
  background-image: linear-gradient(to bottom, transparent, #2f295c),
    url('cosmic.webp');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  font-size: 60px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.star-image {
  padding-bottom: 0px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  padding-top: 80px;
}

.home-button {
  text-decoration: none;
  color: white;
  padding: 60px;
}
.home-button:hover {
  color: white;
}

#dropdown-basic-button {
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-color: transparent;
  border-color: transparent;
}

#dropdown-basic-button:hover {
  color: white;
}

#dropdown-basic-button:focus {
  border-color: transparent;
}

.btn-primary:focus {
  border-color: transparent;
}
