.Header {
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  font-size: 60px;
  color: #2e2d49;
  padding: 60px;
  margin-top: 30px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding-top: 65px;
}

.home-button {
  text-decoration: none;
  color: #f38384;
  padding: 60px;
}
.home-button:hover {
  color: #f38384;
}

#dropdown-basic-button {
  color: #f38384;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  border-color: transparent;
}
#dropdown-basic-button:hover {
  color: #f38384;
}
#dropdown-basic-button:focus {
  border-color: transparent;
}

.btn-primary:focus {
  border-color: transparent;
}
