.sign-details {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
}

.sign-styling {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding-bottom: 50px;
  margin-top: -100px;
}

.current-sign {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  background-color: #b8757f;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.description {
  font-size: 20px;
  display: flex;
  width: 600px;
  display: flex;
  justify-content: center;
}
