.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.choose-sign {
  color: #af8ad2;
  font-size: 40px;
  margin: 100px;
  display: flex;
  justify-content: center;
}

div {
  display: flex;
  flex-direction: column;
}

button {
  color: #af8ad2;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  border: none;
}

p {
  color: #af8ad2;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.top-buttons,
.bottom-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}
